### ~/.npmrc

# パッケージのスコープが`@<OWNER>`のときは、
# GitHub Packagesのレジストリを利用する
@motokikonnno:registry="https://npm.pkg.github.com"

# GitHub Packagesのレジストリを利用するときは、
# 認証トークンを設定する
//npm.pkg.github.com/:_authToken=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